:root {
  --color-main: #0ad4fa;
  --color-bg: #f9f9f9;
  --color-bg-gray: #ededed;
  --color-black: #616161;
  --color-gray: #a3a3a3;
}

* {
  padding: 0em;
  margin: 0 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  min-height: 100vh;
}

html,
body {
  padding: 0em;
  margin: 0 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-bg);
}

.layout {
  padding-top: 5em;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
}
