* {
  padding: 0em;
  margin: 0 0;
  width: 100%;
  box-sizing: border-box;
}

html,
body {
  padding: 0em;
  margin: 0 0;
  width: 100%;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
